:root {
	--color-white: #fff;
	--color-dark: #000;
	--color-dark-gray: #10100e;
	--color-yellow: #ffff00;
	--color-blue: #6a83fb;
	--color-violet: #ea72c2;

	--spacing-small: 10px;
	--spacing-medium: 20px;
	--spacing-large: 30px;

	--font-family-main: sans-serif;

	--width-max: 1200px;

	--font-size-main: 16px;
	--font-size-subheader: 18px;
	--font-size-header: 26px;

	--border-radius-small: 3px;
	--border-radius-medium: 5px;

	--theme-defalt-header: #cccc46;
	--theme-defalt-bgimage: url('../static/bg.jpg');

	--text-shadow-yellow: 0 0 2px var(--color-white),
	 0 0 40px var(--color-yellow);

	--text-shadow-blue: 0 0 2px var(--color-white),
	 0 0 40px var(--color-blue);

	--trasiton: 0.4s;
	--font-bold: 600;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--color-dark-gray);
	font-family: var(--font-family-main);
	font-size: var(--font-size-main);
	background-image: var(--theme-defalt-bgimage);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top left;
	background-attachment: fixed;
}
img {
	display: block;
}
.header__text {
	line-height: 1.7;
	font-size: var(--font-size-header);
	text-shadow: 0 0 2px var(--color-dark);
	color: var(--theme-defalt-header);
	transition: color var(--trasiton);
}
